/(days1-15
/2600-0.txt
/blog-day59
/bootstrap_day58
/coffee-machine
/converter
/crossy-turtle
/data_entry-day53
/day45_soup
/day46_spotify
/day47_price-tracker
/day48_selenium
/flash-card
/flask-day54
/flask_decorators-day54
/flight-deal
/GSS.dat.gz
/GSS.dct
/guess-flask_day55
/habit-tracker
/html-css
/jinja-day57
/kanye says
/linkedin_day49
/mail-merger
/nato
/nsdc
/pass-manager
/ping-pong
/pomodoro
/quiz-oop
/quizzer-tk
/site_flask-day56
/snake
/spirograph
/stock-news
/tempCodeRunnerFile.py
/tempCodeRunnerFile.python
/Test.class
/turtle-race
/us-india-states
/weather
/workout-planner
/zips